@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;0,900;1,400&display=swap');

html {
  scrollbar-color: smooth;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3F51B5;
  color: #FFF;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  flex: 1;
  flex-wrap: wrap;
}

.container-1 .logo {
  margin-left: 20px;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.car-icon {
  width: 60px;
  display: block;
  margin-left: 20px;
}


.navbar ul {
  display: flex;
}

.navbar a {
  text-decoration: none;
  color: #FFF;
  font-size: 1.3rem;
  margin-right: 30px;
  display: block;
}

.navbar a:hover {
  color: #C5CAE9;
  transform: rotate(8deg);
}

.navbar ul{
  list-style-type: none;
}

.container-1 h1 {
  font-size: 3rem;
  font-weight: 900;
  color: #3F51B5;
}


.container-1 p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
}

.container-1 a {
  text-decoration: none;
  font-size: 1.7rem;
  color: #FFF;
  background-color: #3F51B5;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
}


.container-1_text {
  max-width: 760px;
  position: relative;
}


.container-1 {
  display: flex;
  justify-content: center;
  background-color: #C5CAE9;
  padding: 200px 20px;
  position: relative;
}

.container-1::before {
  content: "";
  background-image: url("car.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  opacity: 0.4;
}

.container-2 h3 {
  color: #5C6BC0;
  font-size: 1.5rem;
  margin: 0;
  font-weight: normal;
}

.container-2 {
  background-color: #E8EAF6;
  padding: 50px 40px;
}


.img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

#opona {
  width: 60px;
  height :60px;
}


.container-2_items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  justify-items: center;
  align-items: center;
  max-width: 1200px;
  grid-column-gap: 150px;
  grid-row-gap: 150px;
  text-align: center;
}

.container-2 h3 {

  font-weight: 700;
}

footer {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .logo h1 {
    font-size: 2em;
  }
  .navbar a {
    font-size: 1.2em;
  }
  .container-1_text p {
    font-size: 24px;
  }
  .container-1_text h1 {
    font-size: 2.6em;
  }
   .container-1_text a {
    font-size: 0.7em;
  }
  .container-2_items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 480px) {
  .header {
    display: flex;
    padding: 5px;
    font-size: 1.2rem;
  }
  .navbar ul {
    padding: 5px;
    margin-left: 5px;
  }
  .text h1 {
    font-size: 1em;
  }
  .navbar a {
    font-size: 0.8em;
  }
  .container-1_text p {
    font-size: 1.2em;
  }
  .container-1_text h1 {
    font-size: 2.4em;
  }
   .container-1_text a {
    font-size: 1em;
  }
  .container-2_items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    font-size: 0.9em;
  }
  .form h1 {
    font-size: 2rem;
  }
  input {
    font-size: 0.8rem;
  }
  .form {
    width: 200px;
    margin: 0;
    padding: 0;
  }
}

#contact-icon {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.container-for-form {
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #5C6BC0, #C5CAE9);
  padding: 20px;
}

.form {
  max-width: 1500px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}

.container-for-form .title {
  font-size: 2remz;
  font-weight: 700;
  padding-top: 30px;
}

.user-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

input {
  height: 40px;
  width: 100%;
  margin-top: 30px;
}

.title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 3rem;
}

.submit {
  background: linear-gradient(135deg, #5C6BC0, #C5CAE9);
  border: none;
  width: 100%;
  padding: 10px;
  font-size: 24px;
  font-weight: 400;
  color: white;
  border-radius: 5px;
}

.input-box {
  margin-bottom: 40px;
  text-align: center;
}

label {
  font-size: 2rem;

}
